{% extends 'base.html' %}
{% load static %}
{% block head %}
  <title>Edit profile</title>
  <style>
      .field-wrapper {
        margin-top: 10px;
        margin-bottom: 10px;
      }
  </style>
{% endblock %}
{% block content %}

<div class="container">
  {% include 'nav.html' %}
  <div class="row">
    <div class="col-12">
      <div class="col-12">
        <form name="create_blog" method="POST" novalidate>
          <h2>Create new blog</h2>
          {% csrf_token %}

          <div class="field-wrapper">
            <label for="id_image">
                <input type="file" id="id_image" name="image" />
            </label>
            {{ form.bio.label_tag }} {{ form.bio }}
            {% if form.image.errors %}
              <div class="text-danger">
                {{ field.errors }}
              </div>
          </div>


          <div class="field-wrapper">
            {{ form.bio.label_tag }} {{ form.bio }}
            {% if form.bio.errors %}
              <div class="text-danger">
                {{ field.errors }}
              </div>
          </div>

          <button class="btn btn-primary d-block col-12" type="submit">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}


